<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fechamento do pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list *ngIf="items">
    <ion-item lines="none" *ngIf="items.length === 0">
      <ion-label class="ion-text-center">
        Não há Endereços para exibir .....
      </ion-label>
    </ion-item>

    <ion-list-header>
      <p color="">Selecione um endereço</p>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of items" (click)="nextPage(item)">

      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          <div>
            <h2>{{item.logradouro}}, {{item.numero}}</h2>
            <p>{{item.complemento}} {{item.bairro}} CEP {{item.cep}}</p>
            <p>{{item.cidade.nome}}, {{item.cidade.estado.nome}}</p>
          </div>
        </ion-label>
      </ion-item>      
    </ion-item-sliding>


  </ion-list>

</ion-content>