<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button color="danger"></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="items22">
    <ion-item-sliding *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
      </ion-thumbnail>
      <h2> {{ item.nome }} </h2>      
    </ion-item-sliding>
  </ion-list>
</ion-content>