<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button color="danger"></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sistema de pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-card color="dark">
      <img src="assets/images.png" alt="Logo">
      <ion-card-title class="ion-text-center">Vídeos App</ion-card-title>

      <ion-item lines="none" color="dark">
        <ion-label position="floating" stacked>E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none" color="dark">
        <ion-label position="floating" stacked>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>

      <ion-button block (click)="login()" expand="full" fill="outline" color="light">Entrar</ion-button>
      <ion-button block outline expand="full" fill="clear" color="light">Registrar</ion-button>

    </ion-card>
  </div>
</ion-content>